[Desktop Entry]
Encoding=UTF-8
Name=Link to tagger-01.png
Type=Link
URL=http://infrastructure.fedoraproject.org/infra/badges/pngs/tagger-01.png
Icon=(null)
